

</body>
<footer class="text-center" id ="footer" style="word-spacing:20px;opacity:.5;">
    <div class="jumbotron">
    <a href="https://github.com/LincolnBartlett"target="_blank"><i aria-hidden="true" class="fa fa-github-square fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/lincoln-bartlett-29065a140/"target="_blank"><i aria-hidden="true" class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="https://www.freecodecamp.com/lincolnbartlett"target="_blank"><i aria-hidden="true" class="fa fa-free-code-camp fa-3x"></i></a>
    <a href="mailto:lincolnbartlett@gmail.com?subject=I want to hire you"><i aria-hidden="true" class="fa fa-envelope fa-3x"></i></a>
    </div>
</footer>
</html>
<script src="/js/jquery-3.2.1.min.js"></script> 
<script src="/js/bootstrap.min.js"></script>
<script src="/js/nav.js"></script> 

