<% include partials/header %>
<% include partials/nav %>


    <div class="container-fluid jumbotron">
     
        <div class="container text-center">
               <h1>Welcome To lincBart.com</h1>
        </div>
    </div>



<% include partials/footer %>
