<% include partials/header %>
<div class="container-fluid jumbotron"style="opacity: .7">
    <div class="container col-lg-6 col-lg-offset-3 text-center">
            <h1>Welcome To lincBart.com</h1>
            <h3>a software engineer's portfolio</h3>
            <div class="container text-right">
                <blockquote class="blockquote">
                    <p id="quotxt">Quote</p>
                    <em><small id="quonam">name</small></em>
                    <button class="btn btn-sm btn-defualt" id="quobtn">New Quote</button>
                </blockquote>    
            </div> 
            <a href="/front" class="btn btn-lg btn-primary">Go inside</a>
    </div>       
</div>
<% include partials/footer %>
<script src="/js/quote.js"></script>