<% include partials/header %>



    <div class="container-fluid jumbotron">
     
        <div class="container text-center">
               <h1>Welcome To lincBart.com</h1>
            <blockquote class="blockquote text-right">
                <p id="quotxt">Quote</p>
                <em><small id="quonam">name</small></em>
                
                <button class="btn btn-sm btn-defualt" id="quobtn">New Quote</button>
                
        </div>
                <div class="container col-md-4 col-md-offset-4 well text-center">
                <a href="/front" class="btn btn-primary">Go inside</a>
                </div>
    </div>



<% include partials/footer %>
<script src="/js/quote.js"></script>