<% include partials/header %>
<div class="row">
    <div class="jumbotron"style="height:100vh;margin:0;">
        <div class="col-lg-6 col-lg-offset-3 text-center">
                <h1>Welcome To lincBart.com</h1>
                <h3>a software engineer's portfolio</h3>
                <div class="text-right">
                    <blockquote class="blockquote">
                        <p id="quotxt">Quote</p>
                        <em><small id="quonam">name</small></em>
                        <button class="btn btn-sm btn-defualt" id="quobtn">New Quote</button>
                    </blockquote>    
                </div> 
                <br>
                <a href="/front" class="btn btn-lg btn-primary">Go inside</a>
                <br>
                <hr>          
                <div class="hidden-lg">
                <a href="https://github.com/LincolnBartlett/lincbart"><i class="fa fa-5x fa-github" aria-hidden="true"></i></a>
                <p>View this page's source on github</p>
                </div>
                <div class="hidden-xs hidden-sm hidden-md" style="float:center;">
                <a href="https://github.com/LincolnBartlett/lincbart"><i class="fa fa-5x fa-github" aria-hidden="true"></i></a>
                <p>View this page's source on github</p>
                </div>
        </div>       
    </div>
</div>
</body>
</html>
<script src="/js/jquery-3.2.1.min.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/quote.js"></script>
