.portrait-crop{
    position: relative; 
    height: 90px;
    width: 90px;
    overflow: hidden;
    
}
.portrait-crop-sm{
    position: relative; 
    height: 70px;
    width: 70px;
    overflow: hidden;
}
.portrait-crop img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.portrait-crop-sm img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.parallax { 
    height: auto; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}