<% include ../partials/header %>
<% include ../partials/nav %>
<div class="jumbotron">
    <div class="container">
        <h1>CRUD Profile</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="thumbnail">
            <img src="/uploads/avatar<%=foundProfile._id%>.png">
            <div class="caption">
                <h3><%= foundProfile.username %></h3>
                <p>Number of Comments: <%= foundComments.length %></p>
                <br>
                <% if(currentUser && foundProfile._id.equals(currentUser._id)){ %>
                    <div class="text-center">
                        <form action="/blog/new" method="get">
                            <button class="btn btn-default">Write Blog Post</button>
                        </form>
                    </div>
                    <form method="post" enctype="multipart/form-data" action="/upload">
                        <h1>Upload a Profile Picture</h1>
                        <div class="well">
                            <input type="file" name="avatar">
                            <input class="btn btn-primary btn-sm" type="submit">
                        </div>
                    </form>
                <% }; %>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>CRUD piles</h1>
                <% foundPiles.forEach(function(pile){ %>
                    <div class="well well-sm">
                    <p><%- pile.body %></p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>  
<% include ../partials/footer %> 
