<% include ../partials/header %>
<% include ../partials/nav %>
<style>
.btn{
	border-width: 2px;
	border-color:#ffffff;
}
</style>
<div class="jumbotron">
	<div class="container">
		<h1>Calculator</h1>
	</div>
</div>
<div class="container">
<div class="col-lg-4 col-lg-offset-4">
	<div class="panel panel-default">
		<div class="panel-body">
			<!-- Calc -->
			<div id="calc">
				<div class="alert alert-success" style="height:130px">
					<h1 id="output" style="text-align:right"></h1>
					<h4 id="output2" style="text-align:right"></h4>
					<h4 id="old" style="text-align:right"></h4>
				</div>
				<div class="btn-group btn-group-justified">
					<div class="btn btn-lg btn-primary" id="cleBtn">
						CLR
					</div>
					<div class="btn btn-lg btn-info" id="undoBtn">
						UND
					</div>
					<div class="btn btn-lg btn-danger" id="equBtn">
						=
					</div>
				</div><br>
				<div class="btn-group btn-group-justified">
					<div class="btn btn-lg btn-default" id="sevBtn">
						7
					</div>
					<div class="btn btn-lg btn-default" id="eigBtn">
						8
					</div>
					<div class="btn btn-lg btn-default" id="ninBtn">
						9
					</div>
					<div class="btn btn-lg btn-default" id="mulBtn">
						x
					</div>
				</div>
				<div class="btn-group btn-group-justified">
					<div class="btn btn-lg btn-default" id="forBtn">
						4
					</div>
					<div class="btn btn-lg btn-default" id="fivBtn">
						5
					</div>
					<div class="btn btn-lg btn-default" id="sixBtn">
						6
					</div>
					<div class="btn btn-lg btn-default" id="minBtn">
						-
					</div>
				</div>
				<div class="btn-group btn-group-justified">
					<div class="btn btn-lg btn-default" id="oneBtn">
						1
					</div>
					<div class="btn btn-lg btn-default" id="twoBtn">
						2
					</div>
					<div class="btn btn-lg btn-default" id="thrBtn">
						3
					</div>
					<div class="btn btn-lg btn-default" id="addBtn">
						+
					</div>
				</div>
				<div class="btn-group btn-group-justified">
					<div class="btn btn-lg btn-default" id="negBtn">
						-/+
					</div>
					<div class="btn btn-lg btn-default" id="zerBtn">
						0
					</div>
					<div class="btn btn-lg btn-default" id="decBtn">
						.
					</div>
					<div class="btn btn-lg btn-default" id="divBtn">
						/
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<% include ../partials/footer %>
<script src="/js/calc.js"></script>

