<% include ../partials/header %>
<% include ../partials/nav %>
<audio id="timeUp" src="audio/demonstrative.mp3"></audio>
<audio id="timeUp2" src="audio/solemn.mp3"></audio>
<div class="jumbotron">
		<h1>Pomodoro Timer</h1>
	</div>
</div>
<div class="row">
	<div class="container-fluid col-lg-4 col-lg-offset-4 jumbotron">
		<h1 id="disp" style="text-align:center;font-size: 100px">25:00</h1>
		<h2 id="dispBre" style="text-align:center;font-size: 60px">5:00</h2>
	</div>
	<div class="text-center"> 
		<div class="row" style="margin-bottom:5px">
			<div class="container col-lg-3 col-lg-offset-2 panel panel-default" style="text-align:center">
				<div class="panel-body">
					<h1>Set Interval Time</h1>
					<h1 id="sesTim">25</h1>
					<p>Minutes</p><br>
					<input id="sesSli" list="sesTic" max="60" min="5" step="5" type="range" value="25">
					<datalist id="sesTic">
						<option value="5">
						</option>
						<option value="10">
						</option>
						<option value="15">
						</option>
						<option value="20">
						</option>
						<option value="25">
						</option>
						<option value="30">
						</option>
						<option value="35">
						</option>
						<option value="40">
						</option>
						<option value="45">
						</option>
						<option value="50">
						</option>
						<option value="55">
						</option>
						<option value="60">
						</option>
					</datalist><br>
				</div>
			</div>
			<div class="container col-lg-2" style="text-align:center">
				<div class="well well-lg">
					<p><a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">The Pomodoro Technique</a> is a time management method.</p>
					<p>The technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by short
						breaks.</p>
					<p>To use this Pomodoro Timer simply set the time and click begin.</p>
					<button class="btn btn-lg btn-primary" id="startBtn">Begin</button>	
					<button class="btn btn-lg btn-danger" id="resetBtn">Reset</button>
				</div>
			</div>
			<div class="container col-lg-3 panel panel-default" style="text-align:center">
				<div class="panel-body">
					<h1>Set Break Time</h1>
					<h1 id="breTim">5</h1>
					<p>Minutes</p><br>
					<input id="breSli" list="breTic" max="10" min="1" step="1" type="range" value="5">
					<datalist id="breTic">
						<option value="1">
						</option>
						<option value="2">
						</option>
						<option value="3">
						</option>
						<option value="4">
						</option>
						<option value="5">
						</option>
						<option value="6">
						</option>
						<option value="7">
						</option>
						<option value="8">
						</option>
						<option value="9">
						</option>
						<option value="10">
						</option>
					</datalist><br>
				</div>
			</div>
		</div>	
</div>
<% include ../partials/footer %>
<script src="/js/pomo.js"></script>