<% include ../partials/header %>
<% include ../partials/nav %>
<link rel="stylesheet" href ="/css/front.css" type="text/css">
<div class="parallax" style="background-image: url(/images/colosseum.jpg)">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="alert alert-success">
						<h1 id="output">romeNum( );</h1>
						<h3 id="oldOutput"></h3>
					</div>
				</div>
				<div class="panel-body">
					<p>To convert a number simply type one below and let the magic of JavaScript do the work for you!</p>
					<p style="text-align: right">A quick note:<br> Inputs must be whole numbers below 3,000.<br> Letters and large numbers will trigger an error</p>
					<p class="text-danger" id="warnTxt"></p>
				</div>	
				<div class="panel-footer">	
					<input class="form-control" id="inputFrm" placeholder="Input any Number Below 4000" type="text"> 
					<submit class="btn btn-primary btn-sm" id="inputBtn" type="button">Convert</submit>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
<script src="/js/rome.js"></script>