<% include ../partials/header %>
<% include ../partials/nav %>
<div class="container col-md-6 col-md-offset-3">
    <div class="jumbotron text-center">
        <h1><%= foundBlog.name %></h1>
    </div> 
    <div class="panel panel-default" style="padding:10px">        
            <div class="text-right">
                <form style="display:inline;" action="/blog/<%= foundBlog._id%>/edit" method="get">
                    <button class="btn btn-xs btn-warning" style="margin: 0">Edit</button>
                </form>
                <form style="display:inline;" action="/blog/<%= foundBlog._id%>?_method=DELETE" method="post">
                    <button class="btn btn-xs btn-danger" style="margin: 0">Delete</button>
                </form>
            </div>     
    <div class="panel-body">
        <%- foundBlog.body %>
        </div>
    </div>
</div>
<% include ../partials/footer %>